
#jumbo {
	/*background-color: #f0f0c9c7;*/
	background-color: #091313f7;
	height: 350px;
	color: black;
	font-family: cursive;
}

#navBar {
	/*background-color: #fa5975;*/
	color: #ea8da3;
	font-family: cursive;
}
#navBarColor{
	background-color: #091313f7;
}

h4{
	color: white;
}
h3{
	color: white;
}
#correctAnswers{
	color: white;
}
#InCorrectAnswers{
	color: white;
}
#unAnswered{
	color: white;
}
#displayCorrect{
	color: white;
}
#questionContainer {
	display: none;
}
#gameResult{
	display: none;

 }

 #gameStatistics {
 	margin-top: 15px;
 	display: none;
 }
#option2 {
margin-top: 10px;
 }

 #option3 {
	margin-top: 10px;
  }

  #timerContainer {
  		display: none;

  }

 .inline {
  	display: inline;
  }
 #giffy {
 	width: 200px;
 	padding-bottom: 100px;
 }
 #giffContainer{
 	margin-left: 200px;

 }
 #start {
padding-top: 20px;
 }
